services:
  app:
    build: .
    ports:
      - "3030:3030"
    depends_on:
      - mongo

  mongo:
    image: mongo:7
    ports:
      - "2031:27017"
    volumes:
      - mongo-data:/data/db

volumes:
  mongo-data:
